.btn-tw {
    background-color: #55acee;
    color: white;
}

.btn-fb {
    background-color: #3b5998;
    color:white;
}

.btn-gp {
    background-color: #dd4b39;
    color: white;
}

.btn-hatebu {
    background-color: #2696f6;
    color: white;
}

.account-list {
    overflow: hidden;
}

.account-list i {
    margin-right: 8px;
}

