@charset "UTF-8";

a {
    text-decoration: none;
}

.container { 
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

/** header **/
header {
    background-color: #f0f0f0;
    height: 60px;
    box-shadow: 0 1px 1px #888888;
    overflow: hidden;
}

.nav-hidden {
    margin: 14px 18px;
    color: #888888;
}

.nav-hidden i{
    font-size: 32px;
}

.media-logo {
    padding: 16px 8px;
    margin-left: 8px;
}

.media-logo a{
    color: #444444;
    font-weight: bold;
}

.navbar-content {
    overflow:hidden;
}

.navbar-content li {
    display: block;
    padding: 0 10px;
}

.navbar-content a {
    color: #555555;
}

/** footer **/
footer {
    margin-top: 10px;
    text-align: center;
    background-color: #444444;
    color: white;
    height: 40px;
    padding-top: 15px;
    box-shadow: 0 -2px 2px #222222;
}

h1 {
    color: #515151;
    text-align: center;
}

h2 {
    color: #616161;
    font-size: 24px;
    margin: 20px 0 10px;
}

.media-logo {
    display: block;
    float: left;
    overflow:hidden;
    font-size: 18px;
    color: black;
    font-style: bold;
}

.navbar-content{
    display: block;
    float: right;
    padding: 16px 8px;
}

.navbar-content li {
    display: inline;
    height: 40px;
}

.account-list li{
    margin: 10px 0;
}


.top-box {
    overflow:hidden;
}
.top-box a.top-portrait{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    background-image: url("../img/ikuwows.jpg");
    background-position: 0 0;
    background-size:cover;
}

.top-box .top-portrait:hover { 
    background-image: url("../img/ikuwows.jpg");
    background-position: 100% 0;
    background-size:cover;
}

.top-box p {
    margin: 20px 0;
}

.current-age {
    text-align: center;
}

#main p {
    margin-left: 20px;
}

.nav-hidden {
    float: right;
    display: none;
}

.nav-hamburger-content{
    display: none;
    display: block;
    z-index: 10000000;
    position: absolute;
    background-color: #aaaaaa;
    width: 100%;
    text-align: center;
    box-shadow: 0 1px 1px #888888;
}
.nav-hamburger-content li {
    height: 50px;
    line-height: 50px;
    border: solid 1px #999999;
}
.nav-hamburger-content a {
    color: black;
    vertical-align: center;
}


@media screen and (max-width: 980px) {
    .container { 
        max-width: 640px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 640px) {
    .container {
        max-width: 560px;
        margin: 0 auto;
        text-align: center;
    }

    .navbar-content {
        display: none;
    }
    .nav-hamburger, .nav-hamburger-content {
        display: block;
    }
}

